{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-listadevehiculos{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12 m4 l4 left-align card-panel grey lighten-2"></div>
    <div class="col s12 m4 l4 center-align card-panel grey lighten-2 waves-effect waves-red">
    {% if page.logo %}
        {% image page.logo width-500 as logo %}
        <img src="{{ logo.url }}" width="100%" class="responsive-img" />
    {% else %}
        <h5>{{ page.title }}</h5>
    {% endif %}
    </div>
    <div class="col s12 m4 l4 right-align card-panel grey lighten-2"></div>
</div>

<div class="row">
    <div class="col s10 m10 l10">
        {{ page.intro|richtext }}
    </div>
    <div class="col s2 m2 l2 right-align">
        <a class="btn waves-effect grey z-depth-5" href="/"><i class="material-icons left">arrow_back</i></a>
    </div>
</div>

<div class="row center-cols center-align">
{% for vehiculo in vehiculos %}
    {% with vehiculo=vehiculo.specific %}
    <div class="col s12 m6 l3">
        <div class="card z-depth-2 hoverable">
            <div class="card-content"><a href="{% pageurl vehiculo %}" class="white-text">
                {% with vehiculo.imagen_principal as main_image %}
                    {% if main_image %}{% image main_image height-120 %}{% endif %}
                {% endwith %}</a>
            </div>
            <span class="card-title"></span>
            <div class="card-action">
                <a href="{% pageurl vehiculo %}" class="grey-text">{{ vehiculo.title }}</a>
            </div>
        </div>
    </div>
    {% endwith %}
{% endfor %}
</div>
    
{% endblock %}